*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.activity-conteiner{
    background-color: rgba(121, 220, 238, 0.514);
    width: 100%;
    display: flex;
    align-items: center;
}
.activity-image-conteiner{
    height: 100%;
    width: 20%;
    margin: 0.5rem;
}
.activity-image{ 
    height: 100%;
    width: 100%;
    padding: 1rem !important;
    object-fit: contain;
}
.activity-text-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
@media (max-width:604px){
    .text{
        font-size: 1rem;
    }
  }
  @media (max-width:710px){
    .activity-conteiner{
        flex-direction: column;
    }
    .activity-image-conteiner{
        height: 100%;
        width: 70%;
    }
  }
  @media (max-width:504px){
    .description{
        display:none;
    }
  }