.buttonC {

    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  }
  .text-button{
    background-color: rgba(255, 255, 255, 0.836);
  }
  .button-style{
    background-color: rgb(3, 8, 1) !important;
    width: 12rem;
  }
  .button-box{
    margin-top: 1rem;
  }
  .text-button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width:1000px){
    .text-button{
      font-size: 1.7rem;
      width: 60%;
    }
  }
  @media (min-width:600px){
    .text-button{
      font-size: 1.5rem;
      width: 70%;
    }
  }
  @media (min-width:400px){
    .text-button{
      font-size: 1.2rem;
      width: 80%;
    }
  }
  @media (max-width:400px){
    .text-button{
      font-size: 1.2rem;
      width: 100%;
    }
  }

  .ov-btn-grow-skew-reverse {
    background: rgb(255, 255, 255); /* color de fondo */
    color: #000000; /* color de fuente */
    border: 2px solid #ff1313; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew-reverse:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew-reverse::after {
    content: "";
    background: #000000; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew-reverse:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
  }