.background-Log{
    background-image: url(https://i.pinimg.com/originals/3b/eb/53/3beb5307d0741b7152f1d45da40426a9.jpg);
    background-size: cover;
    object-fit: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 41rem;
    display: flex;
    justify-content: center;
    align-items: center;

}