*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family:'Franklin Gothic Medium';
}
a{
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: #d5d6da;
}
.logo{
  background-image: url(https://www.skyharbor.com/images/default-source/siteimages/iconsmenusystem/internationaltravel.png?sfvrsn=2b8d8788_3);
  background-size: cover;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
}
.title-box{
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/510/495/non_2x/holiday-travel-background-free-photo.jpg);
  background-size: cover;
  object-fit: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0.5rem;
  border-top: red solid 1px;
  border-bottom: red solid 1px;
}
.title-style{
  text-align: center;
  margin: 1rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(58, 87, 255);
  font-size: 3rem;
}

.navbar-color {
  background-color: rgba(62, 62, 161, 0.966) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.conteiner-image{
  display: flex;
}

.country{
  object-fit: cover;
  width: 100%;
  height: 90%;
  box-shadow: 2px 2px 5px rgb(41, 39, 39);
}
.swiper {
  width: 100%;
  height: 30rem;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.App{
  margin: 1rem;
}
.footer-conteiner{
  background-color: rgba(62, 62, 161, 0.966) ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.social-conteiner{
  display: flex;
  justify-content: space-between;
}
.logo-instagram{
  background-image: url(https://w7.pngwing.com/pngs/258/274/png-transparent-computer-icons-instagram-black-riviera-instagram-logo-share-icon-black-instagram.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
}
.logo-facebook{
  background-image: url(https://w7.pngwing.com/pngs/752/373/png-transparent-computer-icons-facebook-logo-facebook-logo-fine-art.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
}
.logo-linkedin{
  background-image: url(https://e7.pngegg.com/pngimages/973/856/png-clipart-linkedin-computer-icons-social-network-user-profile-youtube-nut-miscellaneous-text.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: 0.2rem;
}
.card{
  text-shadow: 2px 2px 5px rgb(8, 14, 49);
}
.conteiner-card{
  display: flex;
  flex-direction: column;
  background-color: rgba(47, 79, 221, 0.788);
  color: white;
}
.slogan{
  text-align: center;
  margin: 1rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(8, 14, 49);
  font-size: 2rem;
}
.text-carousel{
  text-align: center;
  margin: 1rem;
  background-color: #095afc80;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.social-text{
  text-align: center;
  color: white;
}
.home-icon{
  background-image: url(https://w7.pngwing.com/pngs/396/796/png-transparent-home-house-lia-space-button-angle-logo-stock-photography.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 0.3rem;
}
.travel-icon{
  background-image: url(https://i.pinimg.com/originals/a2/03/e0/a203e010098c858625f1ffbbfd2d4104.jpg);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.footer-logo-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-footer{
  margin: 1rem;
}
.buttonC{
  background-image: url(https://www.65ymas.com/uploads/s1/38/76/66/viajar.jpeg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.text-button{
  background-color: rgba(223, 236, 223, 0.521);
}
.button-style{
  background-color: rgb(107, 219, 73) !important;
}
.button-box{
  margin-top: 1rem;
}
.cities-page{
  background-image: url(https://www.65ymas.com/uploads/s1/38/76/66/viajar.jpeg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  color: crimson;
}
.cities-text{
  background-color: rgba(107, 186, 255, 0.705);
  width: 100%;
}
