.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: #d5d6da;
}
.logo{
  background-image: url(./pngwing.com.png);
  background-size: cover;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
}
.title{
  margin-left: 1rem;
}
.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.carousel-color{
  background-color: aqua;
  height: 30rem;
  width: 60rem;
}
.conteiner-image{
  display: flex;
  flex-wrap: wrap;
}
.country{
  object-fit: cover;
  width: 40.5rem;
  height: 14.1rem;
  margin: 1rem;
}
.swiper {
  width: 100%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.App{
  margin-top: 1rem;
  background-color: black;
}
.footer-conteiner{
  background-color: rgb(240, 238, 238) ;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-conteiner{
  display: flex;
}
.logo-instagram{
  background-image: url(https://w7.pngwing.com/pngs/258/274/png-transparent-computer-icons-instagram-black-riviera-instagram-logo-share-icon-black-instagram.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
}
.logo-facebook{
  background-image: url(https://w7.pngwing.com/pngs/752/373/png-transparent-computer-icons-facebook-logo-facebook-logo-fine-art.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
}
.logo-linkedin{
  background-image: url(https://e7.pngegg.com/pngimages/973/856/png-clipart-linkedin-computer-icons-social-network-user-profile-youtube-nut-miscellaneous-text.png);
  background-size: cover;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
}